@import url('https://fonts.googleapis.com/css2?family=Kenia&family=VT323&display=swap');

body{
    background-color: #47293e;
    font-family: 'VT323', monospace;
    justify-content: center;
}
h1{
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-bottom: 0px;
}
#timer{
    font-family: 'VT323', monospace;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 0px;
}
#Won{
    padding-top: 20px;
    color: yellow;
}

.display{
    margin: auto;
    width: 316px;
    height: 316px;
}
#cards{
    box-shadow: 7.5px 7.5px 30px 0px  #291824,
                -5px -5px 30px 0px #784669;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
#card{
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 20px;
    
}
#button{
    text-align: center;
}
#play{
    padding-bottom: 5px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: yellow;
    background-color: #47293e;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(250, 250, 132);
}
#play:hover{
    box-shadow: 0px 0px 10px 0px #ffff00;
    border-color: rgb(241, 241, 161);
}
#play:focus{
    border-color: white;
    color: white;
    box-shadow: 0px 0px 10px 0px #fff;
}

@media  only screen and (min-width: 600px) and (min-height: 760px) {
    h1{
        font-size: 40px;
    }
    .display{
        width: 416px;
        height: 416px;
    }

    #card{
        width: 100px;
        height: 100px;
        padding: 2px;
        border-radius: 20px;
        
    }
    #play{
        font-size: 40px;
        width: 225px;
        height: 75px;
        border-radius: 10px;
    }
    
}